* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana;
    background-color: lightgrey;
    color: #666;
    font-size: 16px;
}

.header,
.main,
.results {
    background-color: #f3f3f3;
    max-width: 800px;
    margin: 15px auto;
    padding: 15px;
    box-shadow: 0px 1px 3px #bbb;
}

.header {
    text-align: center;
    margin-top: 0;
    border-radius: 0 0 20px 20px;
}

.main {
    border-radius: 20px 20px 5px 5px;
}

.results {
    text-align: center;
    border-radius: 5px 5px 20px 20px;
}

textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 3px;
    box-shadow: 0px 1px 3px #bbb;
}

input[type="submit"] {
    border: none;
    background-color: lightgrey;
    color: #666;
    padding: 10px;
    border-radius: 3px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0px 1px 3px #bbb;
}

input[type="submit"]:hover {
    background-color: silver;
}

textarea, input:focus {
    outline: none;
}

.result_item {
    text-align: left;
    margin: 10px 0;
    background-color: white;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0px 1px 3px #bbb;
}

.result_title {
    font-weight: 600;
    padding-bottom: 5px;
}

.result_data {
    color: blue;
    font-weight: 600;
}

.report {
    text-align: right;
    padding-top: 20px;
    color: grey;
}

table, tr, td {
    border-collapse: collapse;
    border: 1px solid lightgrey;
    text-align: center;
    padding: 3px 10px;
    margin-top: 5px;
}
